.CardListContainer {
  display: flex;
  flex-wrap: wrap;
}

.CardListItem {
  display: flex;
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
