.NavigationBar{
  display: flex;
  background: rgb(174,174,176);
  background: linear-gradient(180deg, rgba(174,174,176,1) 0%, rgba(54,55,68,1) 69%, rgba(0,0,0,1) 100%);
  min-height: 5vh;
  width: 100%;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-decoration: none;
  list-style: none;
}

a{
  color: #fbfbfb;
}

.logo{
  width: 25%;
}