.NavigationBar {
  display: flex;
  background: #2f2f2f;
  min-height: 5vh;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-decoration: none;
  list-style: none;
}

a {
  color: #fbfbfb;
  text-decoration: none;
}

.logo {
  width: 25%;
}
